@charset "UTF-8";
/* Body */

*{
	padding: 0;
	margin: 0;
}

body, html {
height: 100%;
width: 100%;
overflow-x: hidden;
}

body {
	font: montserrat;
	font-family: montserrat;
	margin: 0;
}

ul {
	padding-left: 40px;
}

.nav {
	height: 50px;
	width: 100%;
	
	background-color: transparent;
    margin: 0 auto;
	margin-top: 20px;
	
    text-align: left;
	float: left;

}

.nav li{
    display:inline;
}

.nav a{
    display:inline-block;
}
	
.nav li {
	text-align: inherit;
	color: #FFFFFF;
	font-weight: 700;
	font-size: 20px;
	letter-spacing: 0px;
	font-weight: bold;
}

.nav li a {
    color: white;
    text-align: center;
    padding-top: 17px;
    padding-right: 20px;
    padding-bottom: 17px;
    padding-left: 20px;
    text-decoration: none;
}

