@charset "UTF-8";
/* Body */
*{
	padding: 0;
	margin: 0;
}

/* button */
.button { 
align-content: center;
align-self: center;
vertical-align: middle;
align-items: center;
display: flex;
	float: left;
}

.main button {
	width: 250px;
	background-color: transparent;
	
	font-size: 1em;	
	text-decoration: none;
	
	text-align: center;
	vertical-align: middle;
	justify-content: center;
	
	border-radius: 10px;
	border: 3px solid #FFFFFF;
	
	margin: 0 auto;
	padding: 2em;
}

.main button:hover {
background-color:rgba(100,132,157,1);
}

.main button:hover a {
cursor: pointer;
}

.main button a {
font: montserrat;
text-decoration: none;
color: white;
letter-spacing: 2px;
}

.bold {
	font: montserrat;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}
/* text */
.vervolg { 
align-content: center;
align-self: center;
}

.text_column {
	width: 90%;
	
	margin: auto;
	clear: both;
	display: flex;
	
	font: montserrat;
	font-weight: normal;
	line-height: 25px;
	padding-left: 20px;
	padding-right: 20px;
	
	color: black;
	padding-top: 25px;
	padding-bottom: 25px;
}
