/* grid structure */
.row {
  display: flex;
  width: 100%;
}

.row div {
 width: 50%;
}

.noMargin {
  margin: 0px;
}

.one {
background-image:url("../images/nycfront.jpg");
border: 1px solid white;
background-size: cover;
background-position: center;
height: 400px;
}

.two {
background-image:url("../images/venicefront.jpg");
border: 1px solid white;
background-size: cover;
background-position: center;
height: 400px;
}

.three {
background-image:url("../images/elbefront.jpg");
border: 1px solid white;
background-size: cover;
background-position: center;
height: 400px;
}

.four {
background-image:url("../images/rhinefront.jpg");
border: 1px solid white;
background-size: cover;
background-position: center !important;
height: 400px;
}

.five {
background-image:url("../images/hochifront.jpg");
border: 1px solid white;
background-size: cover;
background-position: center;
height: 400px;
}

.six {
background-image:url("../images/sandiego.jpg");
border: 1px solid white;
background-size: cover;
background-position: center;
height: 400px;
}

/* buttons within grid */
.button {
	width: 50%;
	
	margin-top: 75px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
	
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	text-align: center;
	
	border: 2px solid #FFFFFF;;
	
	background-color: transparent;
}
.button:hover {
	background-color: #B4B4B1;
	color: whitesmoke;
	cursor: pointer;
}

.button a { 
color: white;
text-decoration: none;
}