@charset "UTF-8";
/* Body */
*{
	padding: 0;
	margin: 0;
}

body, html {
height: 100%;
width: 100%;
overflow-x: hidden;
font-family: 'montserrat';
}

/* div container */
.container {
	width: 100vw;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	display: fixed;
	position: relative;
}

.main {
width: 100vw;
height: 100%;
display: flex;
justify-content: center;
align-items: baseline;
text-align: center;
}

.main h1 {
	color: white;
	letter-spacing: 20px;
	font-size: 3em;
	font-weight: 800;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
