@charset "UTF-8";

/* Body */
html {
	background-image: url("../images/deltagrass.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

body, html {
overflow-y: hidden;
}

/*title */
.light {
	font-weight: 800;
	color: white;
}

/* button */
.main button {
	display: flex;
	width: 250px;
	background-color: transparent;
	
	font-size: 1em;	
	text-decoration: none;
	
	text-align: center;
	vertical-align: middle;
	
	border-radius: 10px;
	border: 3px solid #FFFFFF;
	
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding: 2em;
	
color: white;
letter-spacing: 2px;
}

.main button:hover {
background-color: rgba(206,132,107,0.5);
cursor: pointer;
}
