/* navigation */
/* logo */
.fotolink {
margin-right: 50px;
max-height: 60px;
max-width: 60px;
float: right;
} 

.container {
	margin-top: 0;
	top: 0;
	width: 100vw;
	height: 100vw;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: fixed;
}

ul {
	position: relative;
    display: block;
    list-style-type: disc;
	padding-left: 40px;
	z-index: 999;
}

.nav {
	height: 50px;
	width: 100%;
	
	background-color: transparent;
    list-style:none;
    margin: 0 auto;
	margin-top: 20px;
	
    text-align: left;
	float: left;
	
	border-radius: 10px;
}

.nav li{
    display:inline;
}

.nav a{
    display:inline-block;
}
	
.nav li {
	text-align: inherit;
	color: #FFFFFF;
	font-weight: 700;
	font-size: 20px;
	letter-spacing: 0px;
}

.nav li a {
    color: white;
    text-align: center;
    padding-top: 17px;
    padding-right: 20px;
    padding-bottom: 17px;
    padding-left: 20px;
    text-decoration: none;
}

ul li:hover a {
color: #A26753;
}