@charset "utf-8";
/* CSS Document */

html, body { 
width: 100%;
height: 100%;
padding: 0;
margin: 0px;
}

/*  map and other charts */
.mapouter { 
padding-bottom: 50px;
position: relative;
text-align:right; 
height: 540px; 
width: 800px;
margin: 0;
}

.gmap_canvas {
overflow: hidden;
background: none!important;
height: 540px;
width: 800px;
margin: 0;
}

.embed-container {
padding-bottom: 68%;
position: relative;
height: 0; 
max-width: 100%;
}