@charset "utf-8";
/* CSS Document */

/* body */
html, body { 
width: 100%;
height: 100%;
padding: 0;
margin: 0px;
}

/* foto with data and stuff */
.foto {
background-image: url("../images/flooding_venice.png");
width: 800px;
height: 540px;
z-index: 999;
position: relative;
margin-top: 10px;
}

/*  map and other charts */
.mapouter { 
padding-bottom: 50px;
position: relative;
text-align:right; 
height: 540px; 
width: 800px;
margin: 0;
}

.gmap_canvas {
overflow: hidden;
background: none!important;
height: 540px;
width: 800px;
margin: 0;
}
