@charset "utf-8";
/* CSS Document */
aside { 
width: 100%;
height: 100%;
}

#hudsonmap {
	height: 500px;
	width: 500px;
	background-repeat: no-repeat;
    background-position: 10px 10px;
	position: relative;
}